body{
	margin:0px;
	/*
    background-color:gray;
	background-image:url(../images/bg.jpg);
	background-repeat: repeat;
	*/
	background:darkgray url(../images/x.jpg) repeat;
	background-size:100px;
	font-size:12px;
}
/* Common classes */
.fullWidth{
	width:100%;
}
.mainWidth{
	width:1000px;
	margin:0px auto;
}
.colorGray{
	background:rgb(14, 131, 209);
}
.colorBlue{
	background:blue;
}
.colorWhite{
	background:white;
}
.colorRed{
	background: red;
}
.verticalSpacer{
	height:10px;
}
colorDarkslategrey{
	background:darkslategrey;
}

/* Main Classes*/
/* Top Navigation Section*/
.topNavSection{
	
}

.innerNav{
	height:30px;
	color:white;

}
.innerLeft{
	width:300px;
	float:left;
}
.innerLeft span{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:.9em;
	line-height: 30px;

}
.innerRight{
	float:right;
}
.innerRight span{
	font-size:0.9em;
	line-height: 30px;
	border-right:1px solid white;
	padding:9px 11px;
	font-weight: bold;
}
.innerRight span img{
	width:10px;
	margin-right:5px;
}

/* Slider Section*/

.sliderSection{
	height:200px;
	background: #f3f5f8;
	border-radius: 13px;

}
.sliderSection img{
	width: 666px;
    margin-right: 150px;
    margin-left: 164px;
    border-right-width: 50px;
    height: 200px
}
.buttonsSection{
	height:20px;
	text-align: center;
	color:white;
	
}
.newsSection{
	height:300px;
	background:none;
	
}
.cub3{
    float: left;
    width:calc(32.34% - 20px);
    height: 150px;
    margin: 10px;
	border: 2px solid blue;
	background: #f3f5f8;
	border-radius: 15px;

}
.cub3 img{
	width: 100%;
	height:150px;
	border-radius: 15px;
}

.container {
  display: flex; /* or inline-flex */
}
.testimonialSection{
	
	height:44px;
   color:darkslategrey;
}
.footerSection{
	height:200px;
}
.Text1 p{
	background:tan;
	width: 250px;
	height: 130px;
	font-size: 13px;
	text-align: center;
	margin-top: 7px;
	border: 2px solid blue;
	margin-left: 8%;
	font-family: 'Lobster', cursive;
	border-radius: 13px;
}
.Text1 h2{
	background: tomato;
	text-align: center;
	
}
button{
	background: #f3f5f8;
	width: 100px;
	height: 30px;
	margin-left: 8%;
	margin-top: 0px;
	border-radius: 10px;
}
.innerNav1{
	height:30px;
	color:white;

}
.innerLeft1{
	width:300px;
	float:left;


}
.innerRight1{
	float:right;
}

.bottomNavSection{
	height:30px;
}
.block{
   display: block;
   color: red;
}

.line{
	background: #f3f5f8;
	width: 70%;
	height: 150px;
	margin:  0 auto;
	margin-top: 8%;
	border-radius: 13px;
}
.logo{
	height: 150px;
	width: 100%;

}
.logo img{
	width:calc(33.33% - 2px);
	height: 150px;
}